# Objets
src/*.o

# ignorer main
src/main.cpp
src/main2.cpp

# Ignorer Datas 
data/

# Tout fichier sans extension dans src = exécutable
src/*
!src/*.c
!src/*.cpp
!src/*.h
!src/*.hpp
!src/*.md
!src/

cmd_exec.txt