# Ignorer Datas 
data/

# Ignorer Stats 
Stats/

# Tout fichier sans extension dans src = exécutable
src/*
!src/*.c
!src/*.cpp
!src/*.h
!src/*.hpp
!src/*.md
!src/*.ipynb
!src/Makefile
!src/

# Objets
src/*.o

# ignorer main
src/main.cpp
src/main2.cpp

cmd_exec.txt