# Objets
src/*.o

# Ignorer Datas 
data/

# Ignorer Stats 
Stats/

# Tout fichier sans extension dans src = exécutable
src/*
!src/*.c
!src/*.cpp
!src/*.h
!src/*.hpp
!src/*.md
!src/*.ipynb
!src/

cmd_exec.txt
